<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../../css/styles.css" />
        <link rel="stylesheet" href="/public/assets/js/plugins/apexchart.css" />
        <title>Document</title>
    </head>
    <body>
        <section class="container">
            <nav class="navbar">
                <div class="navbar-side">
                    <ul class="top">
                        <li class="list">
                            <span class="icon">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 24 24"
                                    fill="currentColor"
                                    width="auto"
                                    height="auto"
                                >
                                    <path fill="none" d="M0 0h24v24H0z" />
                                    <path
                                        d="M3 18h18a.5.5 0 0 1 .4.8l-2.1 2.8a1 1 0 0 1-.8.4h-13a1 1 0 0 1-.8-.4l-2.1-2.8A.5.5 0 0 1 3 18zm4.161-4H13V6.702L7.161 14zM15 2.425V15a1 1 0 0 1-1 1H4.04a.5.5 0 0 1-.39-.812L14.11 2.113a.5.5 0 0 1 .89.312z"
                                    />
                                </svg>
                            </span>
                        </li>
                        <li class="list">
                            <img
                                src="/public/assets/download.jpg"
                                class="photo"
                            />
                        </li>
                        <li class="list btn rounded" id="menu">
                            <span class="icon center">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    fill="currentColor"
                                    width="auto"
                                    height="auto"
                                    viewBox="0 0 512 512"
                                >
                                    <title>ionicons-v5-j</title>
                                    <path
                                        d="M64,384H448V341.33H64Zm0-106.67H448V234.67H64ZM64,128v42.67H448V128Z"
                                    />
                                </svg>
                            </span>
                        </li>
                    </ul>
                    <ul class="bottom">
                        <li class="list btn rounded">
                            <a href="#" class="link">
                                <span class="icon center">
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        fill="currentColor"
                                        width="auto"
                                        height="auto"
                                        viewBox="0 0 512 512"
                                    >
                                        <title>ionicons-v5-q</title>
                                        <path
                                            d="M256,176a80,80,0,1,0,80,80A80.24,80.24,0,0,0,256,176Zm172.72,80a165.53,165.53,0,0,1-1.64,22.34l48.69,38.12a11.59,11.59,0,0,1,2.63,14.78l-46.06,79.52a11.64,11.64,0,0,1-14.14,4.93l-57.25-23a176.56,176.56,0,0,1-38.82,22.67l-8.56,60.78A11.93,11.93,0,0,1,302.06,486H209.94a12,12,0,0,1-11.51-9.53l-8.56-60.78A169.3,169.3,0,0,1,151.05,393L93.8,416a11.64,11.64,0,0,1-14.14-4.92L33.6,331.57a11.59,11.59,0,0,1,2.63-14.78l48.69-38.12A174.58,174.58,0,0,1,83.28,256a165.53,165.53,0,0,1,1.64-22.34L36.23,195.54a11.59,11.59,0,0,1-2.63-14.78l46.06-79.52A11.64,11.64,0,0,1,93.8,96.31l57.25,23a176.56,176.56,0,0,1,38.82-22.67l8.56-60.78A11.93,11.93,0,0,1,209.94,26h92.12a12,12,0,0,1,11.51,9.53l8.56,60.78A169.3,169.3,0,0,1,361,119L418.2,96a11.64,11.64,0,0,1,14.14,4.92l46.06,79.52a11.59,11.59,0,0,1-2.63,14.78l-48.69,38.12A174.58,174.58,0,0,1,428.72,256Z"
                                        />
                                    </svg>
                                </span>
                            </a>
                        </li>
                        <li class="list btn rounded">
                            <a href="#" class="link">
                                <span class="icon center">
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        fill="currentColor"
                                        width="auto"
                                        height="auto"
                                        viewBox="0 0 512 512"
                                    >
                                        <title>ionicons-v5-l</title>
                                        <path
                                            d="M128,464V384H56a24,24,0,0,1-24-24V72A24,24,0,0,1,56,48H456a24,24,0,0,1,24,24V360a24,24,0,0,1-24,24H245.74ZM456,80h0Z"
                                        />
                                    </svg>
                                </span>
                            </a>
                        </li>
                        <li class="list btn rounded">
                            <a href="#" class="link">
                                <span class="icon center">
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        fill="currentColor"
                                        width="auto"
                                        height="auto"
                                        viewBox="0 0 512 512"
                                    >
                                        <title>ionicons-v5-o</title>
                                        <path
                                            d="M160,240H320V96a16,16,0,0,0-16-16H64A16,16,0,0,0,48,96V416a16,16,0,0,0,16,16H304a16,16,0,0,0,16-16V272H160Z"
                                        />
                                        <path
                                            d="M459.31,244.69,368,153.37,345.37,176l64,64H320v32h89.37l-64,64L368,358.63l91.31-91.32a16,16,0,0,0,0-22.62Z"
                                        />
                                    </svg>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="navbar-brand">
                    <div class="logo">
                        <h2 class="title">Shop<b>cube</b></h2>
                    </div>
                    <div class="profile-name">
                        <h2 class="title">John Doe</h2>
                        <h2 class="subtitle">Admin</h2>
                    </div>
                    <ul class="nav-item">
                        <li class="list active">
                            <a href="#" class="link">
                                <span class="icon">
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        width="auto"
                                        fill="currentColor"
                                        height="auto"
                                        viewBox="0 0 512 512"
                                    >
                                        <title>ionicons-v5-i</title>
                                        <polygon
                                            points="416 174.74 416 48 336 48 336 106.45 256 32 0 272 64 272 64 480 208 480 208 320 304 320 304 480 448 480 448 272 512 272 416 174.74"
                                        />
                                    </svg>
                                </span>
                                <span class="subtitle">Dashboard</span>
                            </a>
                        </li>
                        <li class="list">
                            <a href="#" class="link">
                                <span class="icon">
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        width="auto"
                                        fill="currentColor"
                                        height="auto"
                                        viewBox="0 0 512 512"
                                    >
                                        <title>ionicons-v5-j</title>
                                        <path
                                            d="M112,80H400V56a24,24,0,0,0-24-24H66A34,34,0,0,0,32,66V376a24,24,0,0,0,24,24H80V112A32,32,0,0,1,112,80Z"
                                        />
                                        <path
                                            d="M456,112H136a24,24,0,0,0-24,24V456a24,24,0,0,0,24,24H456a24,24,0,0,0,24-24V136A24,24,0,0,0,456,112ZM392,312H312v80H280V312H200V280h80V200h32v80h80Z"
                                        />
                                    </svg>
                                </span>
                                <span class="subtitle">Transaksi</span>
                            </a>
                        </li>
                        <li class="list">
                            <a href="#" class="link">
                                <span class="icon">
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        width="auto"
                                        fill="currentColor"
                                        height="auto"
                                        viewBox="0 0 512 512"
                                    >
                                        <title>ionicons-v5-h</title>
                                        <polygon
                                            points="48 170 48 366.92 240 480 240 284 48 170"
                                        />
                                        <path
                                            d="M272,480,464,366.92V170L272,284ZM448,357.64h0Z"
                                        />
                                        <polygon
                                            points="448 144 256 32 64 144 256 256 448 144"
                                        />
                                    </svg>
                                </span>
                                <span class="subtitle">Produk</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="content">
                <header class="header">
                    <div class="input">
                        <span class="icon">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                fill="currentColor"
                                width="auto"
                                height="auto"
                                viewBox="0 0 512 512"
                            >
                                <title>ionicons-v5-f</title>
                                <path
                                    d="M464,428,339.92,303.9a160.48,160.48,0,0,0,30.72-94.58C370.64,120.37,298.27,48,209.32,48S48,120.37,48,209.32s72.37,161.32,161.32,161.32a160.48,160.48,0,0,0,94.58-30.72L428,464ZM209.32,319.69A110.38,110.38,0,1,1,319.69,209.32,110.5,110.5,0,0,1,209.32,319.69Z"
                                />
                            </svg>
                        </span>
                        <input
                            type="text"
                            class="full-content"
                            placeholder="Data"
                        />
                    </div>
                    <ul class="action">
                        <li class="list btn rounded">
                            <a href="#" class="link">
                                <span class="icon center">
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        fill="currentColor"
                                        width="auto"
                                        height="auto"
                                        viewBox="0 0 512 512"
                                    >
                                        <title>ionicons-v5-l</title>
                                        <path
                                            d="M128,464V384H56a24,24,0,0,1-24-24V72A24,24,0,0,1,56,48H456a24,24,0,0,1,24,24V360a24,24,0,0,1-24,24H245.74ZM456,80h0Z"
                                        />
                                    </svg>
                                </span>
                            </a>
                        </li>
                        <li class="list btn rounded">
                            <a href="#" class="link">
                                <span class="icon center">
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        width="auto"
                                        height="auto"
                                        fill="currentColor"
                                        viewBox="0 0 512 512"
                                    >
                                        <title>ionicons-v5-j</title>
                                        <path
                                            d="M256,480a80.09,80.09,0,0,0,73.3-48H182.7A80.09,80.09,0,0,0,256,480Z"
                                        />
                                        <path
                                            d="M400,288V227.47C400,157,372.64,95.61,304,80l-8-48H216l-8,48c-68.88,15.61-96,76.76-96,147.47V288L64,352v48H448V352Z"
                                        />
                                    </svg>
                                </span>
                            </a>
                        </li>
                    </ul>
                </header>
                <div class="overview">
                    <div class="label">
                        <h2 class="title">Dashboard</h2>
                    </div>
                    <div class="full-content gap">
                        <ul class="card">
                            <li
                                class="list"
                                style="background: var(--fifth-color)"
                            >
                                <h2 class="subtitle">Total Sales</h2>
                                <h2 class="subtitle value">IDR. 90.000.000</h2>
                            </li>
                            <li
                                class="list"
                                style="background: var(--third-color)"
                            >
                                <h2 class="subtitle">Orders</h2>
                                <h2 class="subtitle value">600 Orang</h2>
                            </li>
                            <li
                                class="list"
                                style="background: var(--fourth-color)"
                            >
                                <h2 class="subtitle">Customers</h2>
                                <h2 class="subtitle value">900 Orang</h2>
                            </li>
                        </ul>
                        <ul class="full-content charts gap">
                            <li
                                class="list"
                                style="--width: calc(100% - 350px)"
                            >
                                <h2 class="subtitle">Revenue</h2>
                                <div class="full-content">
                                    <div id="totalSales"></div>
                                </div>
                            </li>
                            <li class="list" style="--width: 350px">
                                <h2 class="subtitle">Kategori</h2>
                                <div class="content">
                                    <div id="category"></div>
                                </div>
                            </li>
                        </ul>
                        <div class="full-content">
                            <table class="table full-content">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Last Seen</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Marselinus Cavin Hartono</td>
                                        <td>2 jam yang lalu</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Calista Hartono Putri</td>
                                        <td>5 jam yang lalu</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <script>
            const menu = document.querySelector("#menu");

            menu.onclick = () => {
                document
                    .querySelector(".navbar-side")
                    .classList.toggle("active");
                document
                    .querySelector(".navbar-brand")
                    .classList.toggle("active");
                document.querySelector(".content").classList.toggle("active");
            };
        </script>
        <script src="/public/assets/js/plugins/apexchart.min.js"></script>
        <script>
            var AreaOptions = {
                series: [
                    {
                        name: "series1",
                        data: [31, 40, 28, 51, 42, 109, 100],
                    },
                    {
                        name: "series2",
                        data: [11, 32, 45, 32, 34, 52, 41],
                    },
                ],
                chart: {
                    height: 350,
                    type: "area",
                },
                dataLabels: {
                    enabled: false,
                },
                stroke: {
                    curve: "smooth",
                },
                xaxis: {
                    type: "datetime",
                    categories: [
                        "2018-09-19T00:00:00.000Z",
                        "2018-09-19T01:30:00.000Z",
                        "2018-09-19T02:30:00.000Z",
                        "2018-09-19T03:30:00.000Z",
                        "2018-09-19T04:30:00.000Z",
                        "2018-09-19T05:30:00.000Z",
                        "2018-09-19T06:30:00.000Z",
                    ],
                },
                tooltip: {
                    x: {
                        format: "dd/MM/yy HH:mm",
                    },
                },
            };

            var Area = new ApexCharts(
                document.querySelector("#totalSales"),
                AreaOptions
            );
            Area.render();

            var PieOptions = {
                chart: {
                    type: "donut",
                    width: 400,
                },
                colors: ["#2196f3", "#e2a03f", "#8738a7"],
                dataLabels: {
                    enabled: false,
                },
                legend: {
                    position: "bottom",
                    horizontalAlign: "center",
                    fontSize: "16px",
                    markers: {
                        width: 10,
                        height: 10,
                    },
                    itemMargin: {
                        horizontal: 0,
                        vertical: 8,
                    },
                },
                plotOptions: {
                    pie: {
                        donut: {
                            size: "65%",
                            background: "transparent",
                            labels: {
                                show: true,
                                name: {
                                    show: true,
                                    fontSize: "29px",
                                    fontFamily: "Sharp Sans, sans-serif",
                                    color: undefined,
                                    offsetY: -10,
                                },
                                value: {
                                    show: true,
                                    fontSize: "26px",
                                    fontFamily: "Quicksand, sans-serif",
                                    color: "20",
                                    offsetY: 16,
                                    formatter: function (val) {
                                        return val;
                                    },
                                },
                                total: {
                                    show: true,
                                    showAlways: true,
                                    label: "Total",
                                    color: "#888ea8",
                                    formatter: function (w) {
                                        return w.globals.seriesTotals.reduce(
                                            function (a, b) {
                                                return a + b;
                                            },
                                            0
                                        );
                                    },
                                },
                            },
                        },
                    },
                },
                stroke: {
                    show: true,
                    width: 25,
                },
                series: [100, 100, 800],
                labels: ["Kaos", "Hoodie", "Others"],
                responsive: [
                    {
                        breakpoint: 1599,
                        options: {
                            chart: {
                                width: "500px",
                                height: "400px",
                            },
                            legend: {
                                position: "bottom",
                            },
                        },
                        breakpoint: 1439,
                        options: {
                            chart: {
                                width: "300px",
                                height: "390px",
                            },
                            legend: {
                                position: "bottom",
                            },
                            plotOptions: {
                                pie: {
                                    donut: {
                                        size: "65%",
                                    },
                                },
                            },
                        },
                    },
                ],
            };

            var Pie = new ApexCharts(
                document.querySelector("#category"),
                PieOptions
            );
            Pie.render();
        </script>
    </body>
</html>
