<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../../css/styles.css" />
        <title>Document</title>
    </head>
    <body>
        <section class="container">
            <nav class="navbar">
                <ul class="navbar-side">
                    <div class="top">
                        <li class="list"></li>
                        <li class="list"></li>
                        <li class="list btn menu">
                            <span></span><span></span><span></span>
                        </li>
                    </div>
                    <div class="bottom">
                        <li class="list btn center">
                            <a href="#" class="link">
                                <span class="icon"></span>
                            </a>
                        </li>
                        <li class="list btn center">
                            <a href="#" class="link">
                                <span class="icon"></span>
                            </a>
                        </li>
                        <li class="list btn center">
                            <a href="#" class="link">
                                <span class="icon"></span>
                            </a>
                        </li>
                    </div>
                </ul>
                <div class="navbar-brand">
                    <div class="logo">
                        <h2 class="title">Shop<b>cube</b></h2>
                    </div>
                    <ul class="nav_item">
                        <li class="list">
                            <a href="#" class="link"> </a>
                        </li>
                        <li class="list">
                            <a href="#" class="link"> </a>
                        </li>
                        <li class="list">
                            <a href="#" class="link"> </a>
                        </li>
                        <li class="list">
                            <a href="#" class="link"> </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="content">
                <header class="header">
                    <div class="input">
                        <span class="icon"></span>
                        <input
                            type="text"
                            class="full-content"
                            placeholder="Data"
                        />
                    </div>
                    <ul class="action">
                        <li class="list">
                            <a href="#" class="link">
                                <span class="icon"></span>
                            </a>
                        </li>
                        <li class="list">
                            <a href="#" class="link">
                                <span class="icon"></span>
                            </a>
                        </li>
                    </ul>
                </header>
                <div class="overview">
                    <div class="label">
                        <h2 class="title">Dashboard</h2>
                    </div>
                    <div class="full-content"></div>
                </div>
            </div>
        </section>
    </body>
</html>
