@import url("./master.css");

input {
    margin: 0;
}

label {
    font-size: 8px !important;
}

.flex.gap {
    display: flex;
    gap: 8px;
}

.input input,
.input .passwordBx {
    margin: 12px 0;
}

.title {
    margin: 24px 0 !important;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--primary-color-700);
    transition: 0.5s;
}

body.aktif {
    background: var(--white-secondary);
}

.login {
    position: relative;
    width: 800px;
    height: 500px;
    margin: 20px;
}

.login .blurBx {
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 420px;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 5px 45px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(90px);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login .blurBx .box {
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login.aktif .blurBx .box h1 {
    color: var(--primary-color-700);
}

.login .blurBx .box h1 {
    font-size: 1.5em;
    color: white;
    transition: 0.5s;
    font-weight: 800;
}

.login.aktif .blurBx .box button {
    background: var(--primary-color-700);
    color: white;
}

.login .blurBx .box button {
    border: none;
    outline: none;
    position: relative;
    padding: 10px 20px;
    margin-top: 10px;
    background: var(--white-secondary);
    border-radius: 8px;
    color: var(--primary-color-700);
    opacity: 0.75;
    transition: 0.5s;
}

.login .blurBx .box button:hover {
    opacity: 1;
}

.login .loginBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: var(--white-primary);
    box-shadow: var(--boxShadow-primary);
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    z-index: 2;
}

.login.aktif .loginBx {
    left: 50%;
}

.login .loginBx .form {
    position: absolute;
    left: 0;
    width: 100%;
    padding: 50px;
    transition: 0.5s;
    box-shadow: none !important;
}

.passwordBx {
    position: relative;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 15px;
    overflow: hidden;
}

.login .loginBx .form .passwordBx input {
    border: none;
    margin: 0;
}

.passwordBx .lihatPassword {
    position: absolute;
    top: 0;
    right: 0;
    background: var(--white-secondary);
    width: 40px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.passwordBx #eye {
    position: relative;
    display: inline-block;
    width: 13px;
    height: 13px;
    border-radius: 75% 15%;
    border: 1px solid var(--primary-color-700);
    background: var(--white-secondary);
    transform: rotate(45deg);
    cursor: pointer;
}

.passwordBx #eye::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    display: block;
    width: 5px;
    height: 5px;
    border: 1px solid var(--primary-color-700);
    background: var(--white-secondary);
    border-radius: 50%;
}

.passwordBx #eye.aktif {
    position: relative;
    display: inline-block;
    width: 13px;
    height: 13px;
    border-radius: 75% 15%;
    /* border: 1px solid ; */
    background: var(--primary-color-700);
    transform: rotate(45deg);
    cursor: pointer;
}

.passwordBx #eye.aktif::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    display: block;
    width: 5px;
    height: 5px;
    border: 1px solid var(--white-secondary);
    background: var(--primary-color-700);
    border-radius: 50%;
}

.login .loginBx .form.SignIn {
    left: 0;
}

.login.aktif .loginBx .form.SignIn {
    left: 100%;
}

.login .loginBx .form.SignUp {
    left: -100%;
}

.login.aktif .loginBx .form.SignUp {
    left: 0;
}

.login .loginBx .form form {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.login .loginBx .form form h1 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: var(--primary-color-700);
}

.login .loginBx .form form input {
    outline: none;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 15px;
    color: var(--black-primary);
    font-weight: 600;
    border-radius: 4px;
}

.login .loginBx .form form input[type="submit"] {
    color: white;
    background: var(--primary-color-700);
    opacity: 0.75;
    transition: 0.5s;
}

.login .loginBx .form form input[type="submit"]:hover {
    opacity: 1;
}

.line {
    display: flex;
    flex-direction: row;
}

.line:before,
.line:after {
    content: "";
    flex: 1 1;
    border-bottom: 1px solid;
    margin: auto;
}

.line:before {
    margin-right: 10px;
}

.line:after {
    margin-left: 10px;
}
