@import url("./font.css");

:root {
    --primary-color: hsl(208, 100%, 25%);
    --primary-color-700: rgba(0, 68, 128, 0.75);
    --secondary-color: hsl(44, 100%, 69%);
    --third-color: linear-gradient(
        to right,
        hsl(207, 90%, 77%),
        hsl(207, 96%, 45%)
    );
    --fourth-color: linear-gradient(
        to right,
        hsl(23, 100%, 79%),
        hsl(344, 99%, 72%)
    );
    --fifth-color: linear-gradient(
        to right,
        hsl(175, 53%, 68%),
        hsl(171, 93%, 42%)
    );
    --black-primary: hsl(0, 0%, 13%);
    --black-secondary: hsla(0, 0%, 13%, 0.75);
    --grey-primary: hsl(210, 20%, 98%);
    --white-primary: hsl(0, 0%, 100%);
    --white-secondary: #f5f5f5;
    --white-third: #fedeff;
    --white-fourth: rgba(255, 255, 255, 0.75);
    --boxShadow-primary: 0px 8px 45px rgba(34, 34, 34, 0.1);
    --boxShadow-secondary: -8px -8px 24px var(--white-primary),
        8px 8px 24px rgba(34, 34, 34, 0.1);
    --sm: 1rem;
    --md: 1.5rem;
    --lg: 2rem;
    --xl: 3rem;
    --button: var(--md) var(--sm);
    --fm-first: "Sharp Sans", sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

.container {
    position: relative;
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fm-first);
}

svg {
    width: inherit;
    height: inherit;
    color: inherit;
}

.photo {
    width: initial;
    height: inherit;
    object-fit: cover;
}

button {
    border: none;
    outline: none;
}

input,
select,
textarea {
    margin: var(--sm) 0;
    resize: none;
    outline: none;
    border: 1px solid #ddd;
    width: 100%;
    padding: var(--sm);
    border-radius: 4px;
    background: var(--white-primary);
}

.full-content {
    position: relative;
    width: 100%;
}

.link {
    text-decoration: none;
    color: inherit;
}

.btn {
    background: transparent;
    display: inline-block;
    padding: 8px 24px;
    border-radius: 4px;
    font-weight: 600;
    transition: 0.3s;
}

.btn.primary:hover {
    background: var(--primary-color);
}

.btn.primary {
    background: var(--primary-color-700);
    color: var(--white-primary);
}

.btn.secondary {
    color: var(--primary-color-700);
    background: var(--white-primary);
    box-shadow: var(--boxShadow-primary);
}

.danger {
    background: hsl(344, 99%, 72%);
    color: var(--white-primary);
}

.online {
    position: absolute;
    top: 4px;
    left: -4px;
    width: var(--sm);
    height: var(--sm);
    background: var(--primary-color-700);
    border-radius: 50%;
}

.rounded {
    padding: 8px;
    border-radius: 50%;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: var(--md);
    font-weight: 600;
}

.subtitle {
    font-size: var(--sm);
    font-weight: 600;
}

.list {
    list-style-type: none;
}

.overview {
    padding: var(--md);
}

.between {
    display: flex;
    justify-content: space-between;
}

.input-form {
    background: var(--white-primary);
    border: 1px solid #ddd;
    transition: 0.3s;
}

.input-form:focus {
    border: 1px solid var(--primary-color);
}

.table {
    width: 100%;
    border-collapse: collapse;
    background: var(--white-primary);
    box-shadow: var(--boxShadow-secondary);
    border-radius: 12px;
}

.form {
    background: var(--white-primary);
    box-shadow: 0px 8px 12px rgba(34, 34, 34, 0.1);
    padding: var(--md);
    border-radius: 12px;
}

th {
    text-align: left;
    background: var(--grey-primary);
    border-bottom: 1px solid var(--grey-primary);
}

td,
th {
    padding: var(--sm) var(--md);
}

tr:nth-child(even) td {
    border-top: 1px solid var(--grey-primary);
    border-bottom: 1px solid var(--grey-primary);
}

td {
    font-weight: 500;
    color: var(--black-primary);
}

.flex {
    display: flex;
}

.field {
    width: 100%;
}

.input {
    width: 100%;
}

.field label {
    font-size: 8px;
    font-weight: 600;
}

.whited {
    background: var(--white-primary);
    box-shadow: var(--boxShadow-primary);
}

.input-form[type="file"] {
    border: 1px solid var(--primary-color-700);
}

.alert {
    position: fixed;
    bottom: var(--md);
    color: var(--white-primary) !important;
    align-items: center;
    width: 200px;
    padding: var(--sm) 0;
    border-radius: 8px;
    overflow: hidden;
    transform: 0.5s;
    animation: slide 1s ease forwards;
    opacity: 1;
}

.alert.hide {
    animation: hide 1s ease forwards;
    transition-delay: 1s;
    opacity: 0;
}

.alert::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: var(--sm);
    height: 100%;
    background: inherit;
}

.alert.primary {
    background: hsl(208, 100%, 25%);
}

.success,
.alert.success {
    background: hsl(171, 93%, 32%);
    color: var(--white-primary);
}

.alert.danger {
    background: hsl(344, 99%, 62%);
}

.alert.primary::before {
    background: hsl(208, 100%, 15%);
}

.alert.success::before {
    background: hsl(171, 83%, 32%);
}

.alert.danger::before {
    background: hsl(344, 99%, 72%);
}

.alert .icon {
    color: inherit !important;
    margin: 0 8px;
    z-index: 2;
}

.alert .subtitle {
    word-wrap: break-word;
    margin: 0 4px;
}

@keyframes slide {
    0% {
        transform: translateX(100%);
    }
    40% {
        transform: translateX(-10%);
    }
    80% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-10px);
    }
}

@keyframes hide {
    0% {
        transform: translateX(-10px);
    }
    40% {
        transform: translateX(0%);
    }
    80% {
        transform: translateX(-10%);
    }
    100% {
        transform: translateX(100%);
    }
}

.notifications,
.profile {
    visibility: hidden;
    opacity: 0;
}

.notifications.active,
.profile.active {
    visibility: visible;
    opacity: 1;
}
