@import url("../master.css");

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    padding: var(--md);
    z-index: 20;
}

.navbar-brand {
    width: inherit;
    height: inherit;
    padding: var(--md);
    display: flex;
    align-items: center;
    flex-direction: column;
    background: var(--white-primary);
    box-shadow: var(--boxShadow-primary);
    border-radius: 50px;
}

.profile {
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(124px, 50px);
    background: var(--white-primary);
    box-shadow: var(--boxShadow-primary);
    border-radius: 8px;
    padding: var(--md);
    transition: 0.3s;
    visibility: hidden;
    opacity: 0;
}

.nav .list,
.profile .list {
    margin: var(--sm) 0;
}

.list .link {
    color: var(--black-secondary);
}

.list.active .link {
    color: var(--primary-color);
}

.profile.active {
    visibility: visible;
    opacity: 1;
}

.nav .photo {
    width: var(--lg);
    height: var(--lg);
}

.nav .link,
.profile .link {
    display: flex;
    align-items: center;
    gap: var(--sm);
    color: var(--black-secondary);
}

.icon {
    width: 24px;
    height: 24px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    align-items: center;
    padding: 48px 0;
    padding-left: 124px;
    color: var(--black-primary);
    z-index: 10;
}

.header .form {
    background: transparent;
    padding: 0;
}

.header .field input {
    margin: 0;
}

.gap {
    gap: var(--md);
}

.menu {
    display: none;
    visibility: hidden;
    position: relative;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 6;
}

.menu span {
    position: absolute;
    width: 32px;
    height: 2px;
    background: var(--black-primary);
    transition: 0.3s;
}

.menu span:nth-child(1) {
    transform: translateY(-8px);
}

.menu.active span:nth-child(1) {
    transform: translateY(0) rotate(45deg);
}

.menu.active span:nth-child(2) {
    transform: translateX(32px);
}

.menu span:nth-child(3) {
    transform: translateY(8px);
}

.menu.active span:nth-child(3) {
    transform: translateY(0) rotate(-45deg);
}

.list .link {
    transition: 0.3s;
}

.content {
    position: relative;
    padding: var(--md);
}

.card {
    width: 250px;
    height: 150px;
    border-radius: 8px;
    transition: 0.3s;
    overflow: hidden;
    box-shadow: var(--boxShadow-primary);
}

.card .img .photo {
    object-fit: cover;
}

.products .list .card {
    position: relative;
}

.card .label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(34, 34, 34, 0.5);
    transition: 0.3s;
    visibility: hidden;
    opacity: 0;
    z-index: 2;
}

.card:hover .label {
    visibility: visible;
    opacity: 1;
}

.img {
    height: inherit;
}

.dashboard {
    position: fixed;
    top: 0;
    right: 0;
    padding: var(--md);
    width: calc(100% - 900px);
    height: 100vh;
}

.card:hover {
    box-shadow: none;
}

.revenue {
    position: fixed;
    top: 0;
    right: 0;
    margin: var(--md);
}

.revenue .list {
    position: relative;
    width: 360px;
    height: 200px;
    padding: var(--lg);
    border-radius: 4px;
    margin: var(--sm) 0;
    background: var(--black-secondary);
}

.revenue .list .subtitle {
    font-size: var(--md);
    font-weight: 700;
    color: var(--white-fourth);
}
